.vscode/launch.json
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/Sudoku.iml
.idea/.name
frameworks/cocos2d-html5/
frameworks/cocos2d-x/
simulator/
release/
frameworks/runtime-src/proj.win8.1-universal/
frameworks/runtime-src/proj.win32/Debug.win32/
frameworks/runtime-src/proj.ios_mac/mac/Icon.icns
frameworks/runtime-src/proj.ios_mac/
frameworks/runtime-src/proj.win32/Backup/
frameworks/runtime-src/proj.android-studio/app/assets/
frameworks/runtime-src/proj.android-studio/app/obj/
frameworks/runtime-src/proj.android-studio/app/res/
frameworks/runtime-src/proj.android/
copy_res.py
copy_res.bat
sudoku.jks
frameworks/runtime-src/proj.linux/
frameworks/runtime-src/proj.win32/
frameworks/runtime-src/proj.android-studio/app/libs/armeabi/libcocos2djs.so
frameworks/runtime-src/proj.android-studio/app/libs/armeabi/gdbserver
frameworks/runtime-src/proj.android-studio/app/libs/armeabi/gdb.setup
