<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,980},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>bg_btn_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{123,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,80}}</string>
                <key>sourceSize</key>
                <string>{123,80}</string>
            </dict>
            <key>bg_btn_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,45},{123,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,80}}</string>
                <key>sourceSize</key>
                <string>{123,80}</string>
            </dict>
            <key>bg_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{406,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,524}}</string>
                <key>sourceSize</key>
                <string>{406,524}</string>
            </dict>
            <key>bg_game_over_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,229},{293,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,227}}</string>
                <key>sourceSize</key>
                <string>{293,227}</string>
            </dict>
            <key>bg_select_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,45},{293,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,64}}</string>
                <key>sourceSize</key>
                <string>{293,64}</string>
            </dict>
            <key>ic_clean_error.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{71,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,45}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
            <key>ic_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>ic_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{82,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,19}}</string>
                <key>sourceSize</key>
                <string>{82,19}</string>
            </dict>
            <key>ic_review.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,18}}</string>
                <key>sourceSize</key>
                <string>{78,18}</string>
            </dict>
            <key>ic_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,125},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>ic_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,125},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{480,1780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4b080bfd6bb8e8ba50709b1a392475b:7ae9c50a57b1a653d511752b447c96fe:c11b6a542e58cbf6e51c9f5d8ff887d2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
