<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{368,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,19}}</string>
                <key>sourceSize</key>
                <string>{368,19}</string>
            </dict>
            <key>bg_loading_scense.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,19},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>bg_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,819},{121,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,133}}</string>
                <key>sourceSize</key>
                <string>{121,133}</string>
            </dict>
            <key>ic_asi_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,819},{253,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,54}}</string>
                <key>sourceSize</key>
                <string>{253,54}</string>
            </dict>
            <key>ic_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,819},{7,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,15}}</string>
                <key>sourceSize</key>
                <string>{7,15}</string>
            </dict>
            <key>progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,952},{368,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,19}}</string>
                <key>sourceSize</key>
                <string>{368,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loadingScene.png</string>
            <key>size</key>
            <string>{480,971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb080a59268cc69711a9d17835e00089:72fdd47740608748d86a1111c12d18b4:6b30b9dfc75db5ff22e6c35f5cebc18f$</string>
            <key>textureFileName</key>
            <string>loadingScene.png</string>
        </dict>
    </dict>
</plist>
