<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,800},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>btn_next_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1600},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>btn_previous_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1600},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>ic_finished_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1600},{65,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,53}}</string>
                <key>sourceSize</key>
                <string>{65,53}</string>
            </dict>
            <key>ic_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1600},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>ic_log_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1600},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>ic_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1600},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>ic_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1600},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mapScene.png</string>
            <key>size</key>
            <string>{960,1679}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20f3e68f0b203076bac2a30aaef682d9:937b7d7055404994f4b501e19faaef93:50f27d22517306e004b6462a31cc4f7f$</string>
            <key>textureFileName</key>
            <string>mapScene.png</string>
        </dict>
    </dict>
</plist>
